<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-dark fixed-top">
        <span class="navbar-brand mb-0 h1">
          <strong><a th:text="${user.getEmail()}"></a></strong>
          <span class="text-start">with roles:
            <a th:each="role : ${user.getRoles()}" th:text="${role} + ' '"></a>
                </span>
        </span>
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<table th:border="1">
    <thead>
    <tr>
        <th colspan="7">User List</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each ="user : ${users}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}">...</td>
        <td th:utext="${user.lastName}">...</td>
        <td th:utext="${user.email}">...</td>
        <td><table>
            <tr th:each="role : ${user.getRoles()}">
                <td th:text="${role.name}"><small></small></td>
            </tr>
        </table></td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.id})}">EDIT</a></td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
            <input type="submit" value="DELETE"/>
        </form></td>
    </tr>
    </tbody>
</table>
<div th:each="user:${users}">
    <span th:text="${user.id}"></span> <a th:href="@{/admin/{id}(id=${user.id})}" th:text="${user.email}"></a>
</div>
<br/>
<hr/>
<a th:href="@{/admin/new}">Create new User</a>
<div th:insert="~{exit :: exit_button}"></div>
</body>
</html>