<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>New User</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" th:method="POST" th:action="@{/admin}" th:object="${user}">
        <h2 class="form-signin-heading">Add new user</h2>
        <p>
            <input type="text" id="firstName" name="firstName"
                   class="form-control" placeholder="First name"
                   th:field="*{firstName}" required="" autofocus="">
        <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <label for="firstName" class="sr-only">Firstname</label>
        <p>
            <input type="text" id="lastName" name="lastName"
                   class="form-control" placeholder="Last name"
                   th:field="*{lastName}" required="" autofocus="">
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <label for="lastName" class="sr-only">LastName</label>
        <p>
            <input type="text" id="email" name="email"
                   class="form-control" placeholder="Email"
                   th:field="*{email}" required="" autofocus="">
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <label for="email" class="sr-only">Email</label>
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        </p>
    </form>
    <div th:insert="~{exit :: exit_button}"></div>
</div>
</body>
</html>